.btnLeft {
    float:left;
}
.btnRight {
    float:right;
}

.btnCenter {
    float:center;
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* https://stackoverflow.com/questions/42134731/css-change-button-style-after-click */



/* Pseudo-class*/
/* Specify you want to style the selected elements, and only when they are in certain state */
.btnLeft:hover{
    transform: translateY(-3px);
}

.btnRight:hover{
    transform: translateY(-3px);
}

.btnCenter:hover{
    transform: translateY(-3px);
}